@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

/* Resets and general styling */

* {
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(-90deg, #171e55, #525a9f);
  color: white;
  font-family: "Merriweather Sans", sans-serif;
}

.hidden {
  display: none;
}

section {
  width: 45%;
  margin: 5px;
  position: relative;
  height: auto;
}

h1 {
  margin: 0;
  text-align: center;
}

img {
  width: 4rem;
}

header,
aside,
main,
footer {
  padding: 20px;
}

/* Set column row to direct div sibling of body so aside elements and main are displayed in row direction */
body > div {
  display: flex;
}

/* Set column flex to aside elements and style Aside section*/
aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

label {
  font-size: 1.25rem;
}

input {
  padding: 0.25rem;
  margin-top: 0.25rem;
}

button {
  background-color: #707ad9;
  border-style: none;
  color: white;
  border-radius: 0.3em;
  padding: 0.3rem;
  margin-top: 0.25rem;
}

/* Set column direction flex to form elements */
aside > form > div {
  display: flex;
  flex-direction: column;
}

/* Styles searched city button */
.history-container {
  display: flex;
  flex-direction: column;
}

.history-container button {
  background-color: grey;
}

/* Styles main container that hosts both today and forecast containers */
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

/* Style current day weather container */
.today {
  border: 1px solid;
  height: auto;
  width: 90%;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
  padding-left: 0.25rem;
}

.today > p {
  padding-top: 1rem;
}

.uvi-color {
  margin-left: 0.25rem;
  padding: 0.25rem;
  color: white;
  text-align: center;
}

.todayWeather img {
  width: 2rem;
}

/* Style forecast forecast card elements */
.card > * {
  padding-left: 0.25rem;
}

.card:first-of-type {
  margin-left: 0;
}

.card:last-of-type {
  margin-right: 0;
}

/* Sets flex column direction to each of the 5 card elements (i.e. p tags) */
.card {
  background: #512941;
  margin: 1rem;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Times New Roman", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
  margin-right: 0.25rem;
}

/* Styles card container to row direction for the 5 day forecast cards */
.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card p:first-of-type {
  padding-top: 0.5rem;
}

.card p:last-of-type {
  padding-bottom: 0.5rem;
}

.forecast {
  height: auto;
  width: 90%;
}

/* Media queries to enhance responsiveness */
@media screen and (max-width: 540px) {
  main {
    align-content: center;
    width: 86%;
  }

  .cards {
    flex-direction: column;
  }

  body > div {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 0;
    margin-top: 1rem;
    padding: 0.25rem;
  }

  .today p {
    padding-left: 0.25rem;
  }

  .aside {
    padding: auto;
    margin: 0;
    margin-top: 1rem;
    padding: 0.25rem;
  }

  .forecast,
  .today {
    width: 95%;
  }
}

@media screen and (min-width: 750px) {
  .cards {
    height: auto;
  }
  .card p:first-of-type {
    font-size: 1.1rem;
  }
  .card p {
    padding: 0.25rem;
  }
}

@media screen and (min-width: 1500px) {
  .cards {
    height: 300px;
  }
  .card p:first-of-type {
    font-size: 1.25rem;
  }
}
