* {
  margin: 0;
  padding: 0;
}

aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 18%;
}

body > div {
  display: flex;
}

aside > form > div {
  display: flex;
  flex-direction: column;
}

.today {
  border: 1px solid;
  height: auto;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.card {
  background: purple;
  width: 100%;
}

section {
  width: 45%;
  margin: 5px;
  position: relative;
  height: 215px;
}

h1 {
  margin: 0;
  text-align: center;
}

header,
aside,
main,
footer {
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.forecast {
  height: auto;
  width: 80%;
}
